{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6 col-sm-2 col-sm-offset-5 col-xs-offset-3">
            <br/>
            <a href="#" class="thumbnail">
                <img src="{{ asset('images/sad-smile.svg') }}" alt="404-error">
            </a>
        </div>
        <div class="col-xs-12">
            <h2>
                The requested page couldn't be located. <br/>Checkout for any URL
                misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
            </h2>
        </div>
    </div>
{% endblock %}