{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-xs-12">
            <img src="http://cliparts.co/cliparts/pi7/rG7/pi7rG74MT.svg" alt="404-error">
        </div>
    </div>
{% endblock %}