{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-10 col-md-offset-1">
            <h2>
                {{ "user.created" | trans({"%username%": userName, "%email%": userEmail}) | raw }}
            </h2>
            <br/>
        </div>

        <div class="row">
            <div class="col-xs-12 centered-block">
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-success">Login</a>
                <a href="{{ path('homepage') }}" class="btn btn-default">Go to Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}